textarea {
  resize: none;
  text-align: center;
  overflow: hidden;
}

textarea.blue {
  color: blue;
}

@media only screen and (min-width: 700px) {
  /* Desktop */
  textarea {
    font-size: 40px;
    height: 45px;
    width: 45px;
    margin-bottom: -3px;
  }
}

@media only screen and (max-width: 699px) {
  /* Phone */
  textarea {
    font-size: 21px;
    height: 20px;
    width: 20px;
    margin-bottom: -4px;
    margin-top: 1px;
  }
}
