.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table.sudokuTable {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #948473;
  background-color: #ffe3c6;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  /* Desktop */
  textarea {
    height: 45px;
    width: 45px;
  }

  table.sudokuTable td,
  table.sudokuTable th {
    border: 1px solid #948473;
    padding: 4px 4px;
  }
}

@media only screen and (max-width: 699px) {
  /* Desktop */
  table.sudokuTable td,
  table.sudokuTable th {
    border: 1px solid #948473;
    padding: 2px 2px;
  }
}

/* table.sudokuTable tbody td {
  font-size: 13px;
} */

table.complete {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #009b00;
  background-color: #ccffcc;
  /* text-align: center; */
}
table.complete td,
table.sudokuTable-complete th {
  border: 1px solid #009b00;
  /* padding: 4px 4px; */
}
/* table.complete tbody td {
  font-size: 13px;
} */

.bottom-edge-bold {
  border-bottom-width: 2px !important;
}
.left-edge-bold {
  border-left-width: 2px !important;
}
.right-edge-bold {
  border-right-width: 2px !important;
}
.top-edge-bold {
  border-top-width: 2px !important;
}

#solve-button {
  font-size: x-large;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  margin: 5px;
  width: 70%;
  align-self: center;
}

/*WHEN FINISHED:
  box-shadow: 0px 0px 20px 9px #1dff00;



*/
