table.sudokuTable {
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #948473;
  background-color: #FFE3C6;
  margin:10%;
  text-align: center;
  margin: auto;
}
table.sudokuTable td, table.sudokuTable th {
  border: 1px solid #948473;
  padding: 4px 4px;
}
table.sudokuTable tbody td {
  font-size: 13px;
}

.bottom-edge-bold {
  border-bottom-width: 3px !important;
}
.left-edge-bold {
  border-left-width: 3px !important;
}
.right-edge-bold {
  border-right-width: 3px !important;
}
.top-edge-bold {
  border-top-width: 3px !important;
}