h1 {
  font-size: -webkit-xxx-large;
  margin-top: 20px;
  margin-bottom: 20px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  font-size: large;
}

.button-bar {
  display: flex;
  justify-content: center;
}
